{% extends './layouts/main.html.twig' %}
{% block title %} مقالات{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active"><a>ایجاد مقاله جدید</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body border border-5">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.title) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.summary) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                    <div class="w-25">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
